* {
  box-sizing: border-box;
}
h5 {
  margin: 0px;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: local("ProximaNova-Bold"),
    url(./i8-Fonts/ProximaNova-Bold.otf) format("opentype"); /*font anpassen und file unter assets ablegen ... opentype zum setzen der schrift */
}

.header,
.body {
  width: 100vw;
  /* margin: 30px auto; */
  padding: 10% 7%;
  display: grid;
  /* justify-content: center; */
  font-family: "ProximaNova-Bold" !important;
}

.header {
  background-color: rgb(255, 255, 255);
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 2.5fr 2px 0.3fr repeat(2, 1fr);
  grid-template-areas:
    "box1 box2 . box3 box4  box8"
    "box1 box2 . box6 box7 ."
    "box1 box2 . box5 . .";

  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.box {
  color: black;
}

.box1 {
  background-color: rgb(255, 255, 255);
  grid-area: box1;
  margin-top: 0.5rem;
}

.titel {
  font-family: "ProximaNova-Bold" !important;
  font-size: 60px;
  font-weight: 800;
  line-height: 40px;
  font-style: normal;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.i8-text {
  font-family: "ProximaNova-Bold" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.box2_trennlinie {
  grid-area: box2;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.box3_dev {
  grid-area: box3;
  font-family: "ProximaNova-Bold";
  text-align: center;
  margin-right: 2.2rem;
  
}

.square-border {
  font-family: "ProximaNova-Bold";
  cursor: pointer;
  justify-content: center;

}
.square-border:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 10px rgba(0, 0, 0, .5);

}

.square-border:active {
  transform: translateY(-1px); 

}

.box4_strategy {
  grid-area: box4;
  margin-left: 1.7rem;
}

.box5_creative {
  grid-area: box5;
  margin-right: 2.2rem;
  
}

.box6_operation {
  grid-area: box6;
  margin-right: 2.2rem;
  
}

.box7_marketing {
  grid-area: box7;
  margin-left: 1.7rem;
  
}

.box8_logo {
  grid-area: box8;
  margin-left: 5rem;
  cursor: pointer;
}

/* BodyComponent */

.body {
  background-color: rgb(229, 229, 229);
  column-gap: 6rem;
}
.nav_home {
  grid-template-rows: 180px 180px 180px 180px max-content;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "team1 team2 . . team3 team4"
    "line1 line2 group36 group36 line8 line9"
    "line1 team5 team6 team7 line8 line9"
    "line1 line3 line4 line10 line8 line9"
    "team8 team9 team10 team11 team12 team13"
}


.singleGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.singleGrid>div {
  width: 180px;
  height: auto;
}

.team1 {
  grid-area: team1;
}

.team2 {
  grid-area: team2;
}

.team3 {
  grid-area: team3;
}

.team4 {
  grid-area: team4;
}

.team5 {
  grid-area: team5;
}

.team6 {
  grid-area: team6;
}

.team7 {
  grid-area: team7;
}

.team8 {
  grid-area: team8;
}

.team9 {
  grid-area: team9;
}

.team10 {
  grid-area: team10;
}

.team11 {
  grid-area: team11;
}
.team12 {
  grid-area: team12;
}

.team13 {
  grid-area: team13;
}

.line1 {
  grid-area: line1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line2 {
  grid-area: line2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line3 {
  grid-area: line3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line4 {
  grid-area: line4;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.line5 {
  grid-area: line5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line6 {
  grid-area: line6;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.group36 {
  grid-area: group36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line8 {
  grid-area: line8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line9 {
  grid-area: line9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line10 {
  grid-area: line10;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[class^="team"] {
  /* jedes div dessen Klasse mit "Team" beginnt wird angesprochen -- ^ = wenn die Klasse mit dem String anfängt */
  background-color: #fff;
  text-align: center;
  font-family: "ProximaNova-Bold" !important;
  position: relative;
  margin-bottom: auto;
}

.star {
  margin-right: 5px;
}

/* .icon {
  grid-bilder/Ellipse 1.png
  grid-bilder/Star 2.png

}
*/
