* {box-sizing: border-box;}

.header, .body {
  width: 100vw;
  /* margin: 30px auto; */
  padding: 10% 7%;
  display: grid;
  justify-content: center;

}

.header {
  background-color: rgb(255, 255, 255);
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 2.5fr 2px 0.3fr repeat(3, 1fr);

  font-family: 'Proxima Nova';
  color: rgba(0, 0, 0, 1);
  text-align: left;
 
}

#square-border {
  background: #FFF;
  border: 1px solid #000000;
  width: 140px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 110px;
  

  
}


#circle { 
  width: 20px;
  height: 20px;
  background: rgba(0, 238, 187, 1);
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  float: left;
  position: absolute;
  top: 4px;
}


.box {
  color: black;
}

.box1 {
  background-color: rgb(255, 255, 255);
  grid-column-start: 1;
  grid-column-end: 1.5;
  grid-row-start: 1;
  grid-row-end: 2;
  
  
  
  font-weight: 800;
  font-size: 30px;

  justify-content: center;

 

}

.box2, .trennlinie {
  background-color: rgb(255, 255, 255);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  
  display: flex;
  align-self: center; 

}

.box3 {
  
  font-family: 'Proxima Nova';
  text-align: center;
  
}

.box4 {
  background-color: white;
 
}

.box5 {
  justify-content: top;
}

.box6 {
  background-color: rgb(255, 255, 255);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;

  justify-content: center;



}

.box7 {
  background-color: white;

}

.box8 {
  

}

.box9 {
  background-color: white;

}

.box10 {
  background-color: white;

}

.box11 {
  background-color: white;

}

.box12 {
  background-color: white;

}

.box13 {
  background-color: white;

}

.box14 {
  background-color: white;

}

.box15 {
  background-color: white;

}

/* BodyComponent */ 

.body {
 
  min-height: 1535px;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;



}
/*
.body-item1 {
	background: blue;
	text-align: center;
	border: black 5px solid;
	grid-area: area1;
}
.body-item2 {
	background: red;
	text-align: center;
	border: black 5px solid;
	grid-area: area2;
}
.body-item3 {
	background: green;
	text-align: center;
	border: black 5px solid;
	grid-area: area3;
}
.body-item4 {
	background: yellow;
	text-align: center;
	border: black 5px solid;
	grid-area: area4;
}

.body-item5 {
	background: green;
	text-align: center;
	border: black 5px solid;
	grid-area: area3;
}
.body-item6 {
	background: yellow;
	text-align: center;
	border: black 5px solid;
	grid-area: area4;
}
*/